
div{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-image: url(../imgs/image-cache.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 500px;
    background-position: center;
    text-align: center;
}

p{
    background-color: blanchedalmond;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
